.on{
    text-align: center;
    text-transform: uppercase;
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    font-size: 30px;
    color: aliceblue;
    background-color: crimson;
    border-radius: 15px;
    padding:8px;
    border-width: 0px;
    cursor: pointer;
    margin-left: 270px;
    
}
p{
    font-style: inherit;
    color: burlywood;
    font-size: 20px;
    text-align: center;
}
button:hover{
    opacity: 0.7;
    transform: scale(2);
}
.one{
    border:solid 5px;
    height: 200px;
    width: 200px;
    border-width:25px;
    background-color: chartreuse;
}
.Sec{
    color: blue;
    position: relative;
    top: 12px;
    left: 15px;
}
.tris{
    position: sticky;
    color:blueviolet;
    top: 15px;
}
.four{
    margin-top: 50px;
    border:solid 5px;
    height: 200px;
    width: 200px;
    border-width:25px;
    background-color: chocolate;
    position: absolute;
    top: 200px;
    left: 35px;
    z-index: index -1;
}
.five{
    margin-top: 50px;
    border:solid 5px;
    height: 200px;
    width: 200px;
    border-width:25px;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    top: 20px;
    left: 35px;
    z-index: index -1;
}
.tri{
    text-align: justify;
}
.overflow{
    text-align: justify;
     width: 200px;
  height: 60px;
  background-color: coral;
  color: azure;
  overflow: auto;
}